SAIG.PS.ConfigGen/SAIG.PS.ConfigGen/Service References/SwampyEnvironments/EndpointService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54621/EndpointService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:54621/EndpointService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SAIG.PS.Swampy.Service.Contract" />
  <xs:element name="GetEndpoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="environment" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keys" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="callingApplication" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEndpointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SAIG.PS.Swampy.Service.Contract" minOccurs="0" name="GetEndpointsResult" nillable="true" type="q2:ArrayOfKeyPair" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleEndpoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="environment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="callingApplication" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleEndpointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SAIG.PS.Swampy.Service.Contract" minOccurs="0" name="GetSingleEndpointResult" nillable="true" type="q3:KeyPair" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>