SAIG.PS.ConfigGen/SAIG.PS.ConfigGen/Service References/SwampyEnvironments/EndpointService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EndpointService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54621/EndpointService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54621/EndpointService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54621/EndpointService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:54621/EndpointService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SAIG.PS.Swampy.Service.Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEndpointService_GetEndpoints_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEndpoints" />
  </wsdl:message>
  <wsdl:message name="IEndpointService_GetEndpoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEndpointsResponse" />
  </wsdl:message>
  <wsdl:message name="IEndpointService_GetSingleEndpoint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleEndpoint" />
  </wsdl:message>
  <wsdl:message name="IEndpointService_GetSingleEndpoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleEndpointResponse" />
  </wsdl:message>
  <wsdl:portType name="IEndpointService">
    <wsdl:operation name="GetEndpoints">
      <wsdl:input wsaw:Action="http://tempuri.org/IEndpointService/GetEndpoints" message="tns:IEndpointService_GetEndpoints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEndpointService/GetEndpointsResponse" message="tns:IEndpointService_GetEndpoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleEndpoint">
      <wsdl:input wsaw:Action="http://tempuri.org/IEndpointService/GetSingleEndpoint" message="tns:IEndpointService_GetSingleEndpoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEndpointService/GetSingleEndpointResponse" message="tns:IEndpointService_GetSingleEndpoint_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEndpointService" type="tns:IEndpointService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEndpoints">
      <soap:operation soapAction="http://tempuri.org/IEndpointService/GetEndpoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleEndpoint">
      <soap:operation soapAction="http://tempuri.org/IEndpointService/GetSingleEndpoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EndpointService">
    <wsdl:port name="BasicHttpBinding_IEndpointService" binding="tns:BasicHttpBinding_IEndpointService">
      <soap:address location="http://localhost:54621/EndpointService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>