SAIG.PS.ConfigGen/SAIG.PS.ConfigGen/Service References/SwampyEnvironments/EndpointService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SAIG.PS.Swampy.Service.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SAIG.PS.Swampy.Service.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKeyPair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyPair" nillable="true" type="tns:KeyPair" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyPair" nillable="true" type="tns:ArrayOfKeyPair" />
  <xs:complexType name="KeyPair">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyPair" nillable="true" type="tns:KeyPair" />
</xs:schema>